Library/
Temp/
Logs/
Build/
Assets/Opsive/Installer/UltimateCharacterController/UFPS2.4.8.unitypackage
Assets/Opsive/Installer/UltimateCharacterController/UFPS2.4.8.unitypackage.meta
Assets/Opsive/Installer/UltimateCharacterController/UltimateCharacterController2.4.4.unitypackage
Assets/Opsive/Installer/UltimateCharacterController/UltimateCharacterController2.4.4.unitypackage.meta
Assets/Opsive/UltimateCharacterController/Demo/Textures/Scene/Exterior/terrain_grass_01_a.tif
Assets/Opsive/UltimateCharacterController/Demo/Textures/Scene/Exterior/terrain_grass_01_a.tif.meta
Assets/Opsive/UltimateCharacterController/Demo/Textures/Scene/Exterior/terrain_grass_01_n.tif
Assets/Opsive/UltimateCharacterController/Demo/Textures/Scene/Exterior/terrain_grass_01_n.tif.meta
Assets/Opsive/UltimateCharacterController/Documentation.pdf
Assets/Opsive/UltimateCharacterController/Documentation.pdf.meta
Assets/Opsive/UltimateCharacterController/Demo/Textures/Blitz/Mane_metallic.tif
Assets/Opsive/UltimateCharacterController/Demo/Textures/Blitz/Mane_metallic.tif.meta
UserSettings/Layouts/
.vs/Opsive_Fusion/v16/Server/sqlite3/db.lock
